*{
    font-family: 'Roboto';
}

body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

main{
    padding-top: 77px;
}

#msgAlert{
    position: fixed !important;
    top: 20%;
    left:50%;
    transform: translateX(-50%);
    z-index: 100;
}

nav{
    position: fixed !important;
    width: 100%;
    border-bottom: 1px solid #ccc;
    z-index: 99;
}

#search-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/banner.jpg");
    height: 500px;
    background-position: center;
    background-size: cover;
    text-align: center;
}

#search-container div:nth-child(1){
    z-index: 1;
}
#search-container div:nth-child(2){
    z-index: 2;
}

#search-container h2{
    color: #f2a240;
}

#search-container input{
    cursor: pointer;
}

.overlay{
    background-color: rgb(9 8 8 / 11%);
    position: absolute;
    width: 100%;
    height: 100%;
}

@keyframes expanding {
    0%   {transform: scale(1.0);}
    100% {transform: scale(1.2);}
}

#events-container img:hover{
    animation: expanding 1.5s ;
}


.single-event{
    border-radius: 3%;
    overflow: hidden;
}

.event-image{
    height: 150px;
    overflow: hidden;
}

.event-image img{
    width: 100%;
    height: 100%;
}

#info-event{
    display: flex;
    flex-direction: column;
}

#info-event button{
    width: 200px;
    margin-top: 20px;
}

/* Crete Events CSS */
#form-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

#single-event .row img{
    width: 100%;
    border-radius: 5%;
}

#single-event ion-icon{
    color:darksalmon;
}

#single-event button{
    background-color: rgb(250, 126, 84);
    border-color: rgb(250, 126, 84);
}

#list-items{
    list-style: none;
}

#description{
    padding-left: 2rem;
}




footer{
    width: 100%;
    text-align: center;
    background-color: #666666;
    position: absolute;
    bottom: 0;
}